@page
@model MainSite.WebApplication.Pages.BaoGia.bao_gia_thiet_ke_san_vuonModel
@{
    ViewData["Title"] = "Bao gia thiet ke san vuon";
    Layout = "_Layout";
}

<!-- Blog Details Hero Begin -->
<section class="blog-hero spad set-bg" data-setbg=@Url.Content("~/img/bao_gia/bao_gia_bg.png")>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__hero__text">
                    <h2>Hãy Điền Thông Tin Về Dự Án Của Bạn Chúng Tôi Sẽ Liên Hệ Cho Bạn Về Giá Cả</h2>
                    <!-- <ul>
                      <li>by <span>Krista Starkes</span></li>
                      <li>Jan 03, 2020</li>
                      <li>05 Comment</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->
<!-- form begin -->
<div class="form_bao_gia">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerVKNd2mHgRb7MNGaFpCKSAQNTTN6dagAuFt29dCJOW0P9lg/viewform?embedded=true"
            width="100%"
            height="2067"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
        Đang tải…
    </iframe>
</div>
<!-- form end  -->
