@page
@model MainSite.WebApplication.Pages.BaoGia.IndexModel
@{
    ViewData["Title"] = "Index bao gia";
    Layout = "_Layout";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad set-bg"
     data-setbg="@Url.Content("~/img/about/test_background.png")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Báo Giá</h2>
                    <div class="breadcrumb__links">
                        <a style="font-weight: 600" href="/Index">Trang Chủ</a>
                        <span style="font-weight: 600">Báo Giá</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- form begin -->

<div class="form_bao_gia">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScpRQpWI7Xjx8AkYgs3OluWnGRcNQRtY7pOyFBJk6X6DKATQw/viewform?embedded=true"
            width="640"
            height="1911"
            frameborder="0"
            marginheight="0"
            marginwidth="0">
        Đang tải…
    </iframe>
</div>
