@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="wrapper">
    <div class="info-text">
        <h2>Welcome to Admin Page</h2>
        <a href="/Login" class="login-btn">Login</a>
    </div>
</div>
