@* @page
@model Project.WebApplication.Pages.OrderManage.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa đơn đặt hàng";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Chỉnh sửa đơn đặt hàng
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form method="post" class="form-horizontal">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="Order.MaDonDatHang" />

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Mã đơn hàng</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Order.MaDonDatHang" class="form-control" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Khách hàng</label>
                                    <div class="col-sm-10">
                                        <select asp-for="Order.MaKhachHang" asp-items="@Model.CustomerList" class="form-control">
                                            <option value="">-- Chọn khách hàng --</option>
                                        </select>
                                        <span asp-validation-for="Order.MaKhachHang" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Dự án</label>
                                    <div class="col-sm-10">
                                        <select asp-for="Order.MaDuAn" asp-items="@Model.ProjectList" class="form-control">
                                            <option value="">-- Chọn dự án --</option>
                                        </select>
                                        <span asp-validation-for="Order.MaDuAn" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ngày đặt hàng</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Order.NgayDatHang" class="form-control" type="date" />
                                        <span asp-validation-for="Order.NgayDatHang" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ngày bắt đầu</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Order.NgayBatDauThiCong" class="form-control" type="date" />
                                        <span asp-validation-for="Order.NgayBatDauThiCong" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Ngày kết thúc</label>
                                    <div class="col-sm-10">
                                        <input asp-for="Order.NgayKetThucThiCong" class="form-control" type="date" />
                                        <span asp-validation-for="Order.NgayKetThucThiCong" class="text-danger"></span>
                                    </div>
                                </div>
 *@