<!DOCTYPE html>
<html lang="VN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Liên kết tới file CSS để định dạng trang -->
    <link rel="stylesheet" href="~/css/login.css" />
    <title>Login</title>
</head>
<body>
    @RenderBody()
</body>
</html>
