@page
@model MainSite.WebApplication.Pages.DichVuModel
@{
    ViewData["Title"] = "Dich Vu";
    Layout = "_Layout";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad set-bg"
     data-setbg="img/about/test_background.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Dịch Vụ</h2>
                    <div class="breadcrumb__links">
                        <a style="font-weight: 600" href="#">Trang Chủ</a>
                        <span style="font-weight: 600">Dịch Vụ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Services Section Begin -->
<section class="services-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/icons/counter_section_icon1.png" width="50px" alt="" />
                    </div>
                    <h4>Tư Vấn</h4>
                    <p>
                        Dịch vụ tư vấn của X Koi giúp khách hàng thiết kế hồ cá Koi phù
                        hợp với không gian và phong thủy, đảm bảo tính thẩm mỹ và chất
                        lượng cao.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/dich vu/icon/service_icon2.png" alt="" />
                    </div>
                    <h4>Thiết kế và thi công hồ cá koi</h4>
                    <p>
                        X Koi chuyên thiết kế và thi công hồ cá Koi đẳng cấp, kết hợp
                        hài hòa giữa yếu tố thẩm mỹ và phong thủy, mang đến không gian
                        sống thư giãn, tinh tế và phù hợp với sở thích riêng của khách
                        hàng.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/dich vu/icon/service_icon3.png" alt="" />
                    </div>
                    <h4>Thiết kế và thi công kiến trúc</h4>
                    <p>
                        X Koi cung cấp dịch vụ thiết kế và thi công kiến trúc đa dạng,
                        từ biệt thự, nhà vườn đến không gian thương mại. Với đội ngũ
                        chuyên nghiệp, chúng tôi đảm bảo sự tinh tế và bền vững trong
                        từng công trình.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/dich vu/icon/service_icon4.png" alt="" />
                    </div>
                    <h4>Thiết kế và thi công cảnh quan</h4>
                    <p>
                        X Koi chuyên thiết kế và thi công cảnh quan cho biệt thự, sân
                        vườn và khu nghỉ dưỡng, tạo không gian xanh hài hòa với thiên
                        nhiên, mang lại vẻ đẹp sang trọng và cảm giác thư giãn cho khách
                        hàng.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/dich vu/icon/service_icon5.png" alt="" />
                    </div>
                    <h4>Thiết kế và thi công Nhà Vườn</h4>
                    <p>
                        X Koi cung cấp dịch vụ thiết kế và thi công nhà vườn, tạo nên
                        không gian sống xanh mát, hòa quyện với thiên nhiên. Chúng tôi
                        đảm bảo chất lượng, tính thẩm mỹ và sự tiện nghi tối đa cho
                        khách hàng.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="services__item">
                    <div class="services__item__icon">
                        <img src="~/img/dich vu/icon/service_icon6.png" alt="" />
                    </div>
                    <h4>Thiết kế và thi công sân vườn</h4>
                    <p>
                        X Koi chuyên thiết kế và thi công sân vườn, mang đến không gian
                        xanh mát, thư giãn, với cây cối và tiểu cảnh tinh tế, hài hòa.
                        Chúng tôi cam kết tạo nên sân vườn đẳng cấp và chất lượng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- Call To Action Section Begin -->
<section class="callto sp__callto">
    <div class="container">
        <div class="callto__services spad set-bg"
             data-setbg=@Url.Content("~/img/team-bg.jpg")>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="callto__text">
                        <h2>
                            Nói ra mong muốn và sở thích của bạn, X Koi sẽ thiết kế và
                            hoàn thành
                        </h2>
                        <p>
                            X Koi sẽ thiết kế và thi công mọi thứ theo mong muốn của bạn
                        </p>
                        <a href="#">Đồng Hành Cùng X Koi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section End -->
<!-- Logo Begin -->
<div class="logo spad">
    <div class="container">
        <div class="logo__carousel owl-carousel">
            <a href="#" class="logo__item">
                <img src="~/img/logo_X_koi_full.png" alt="" />
            </a>
            <a href="#" class="logo__item">
                <img src="~/img/dich vu/logo/service_logo2.png" alt="" />
            </a>
            <a href="#" class="logo__item">
                <img src="~/img/dich vu/logo/service_logo3.png" alt="" />
            </a>
            <a href="#" class="logo__item">
                <img src="~/img/dich vu/logo/service_logo4.png" alt="" />
            </a>
            <a href="#" class="logo__item">
                <img src="~/img/dich vu/logo/service_logo5.png" alt="" />
            </a>
            <a href="#" class="logo__item">
                <img src="~/img/dich vu/logo/service_logo6.png" alt="" />
            </a>
        </div>
    </div>
</div>
<!-- Logo End -->